@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* New HEX color variables */
    --bg-white: #f5f7f9;
    --bg-modal: rgba(0, 0, 0, 0.5);
    --white: #ffffff;
    --white-bg: #ffffff;
    --main: #495465;
    --hover-bg: #e9edf5;
    --secondary: #98989880;
    --fill: #e9edf5b2;
    --divider: #e1e2e5;
    --title: #222834;
    --error: #d1293d;
    --error-bg: #ffedef;
    --success: #14804a;
    --success-bg: #e1fcef;
    --warning: #aa5b00;
    --warning-bg: #fcf2e6;
    --bar-1: #0052ce;
    --bar-2: #8c8afe;

    /* Blue shades */
    --blue-50: #eef6ff;
    --blue-100: #d9eaff;
    --blue-200: #bcdbff;
    --blue-300: #8ec6ff;
    --blue-400: #59a5ff;
    --blue-500: #2f7fff;
    --blue-600: #1b60f5;
    --blue-700: #144be1;
    --blue-800: #173db6;
    --blue-900: #19388f;
    --blue-950: #142357;
  }

  .dark {
    --bg-white: #222834; /* Dark background */
    --bg-modal: rgba(255, 255, 255, 0.5);
    --white: #11151a; /* Very dark elements */
    --white-bg: #11151a; /* Very dark elements */
    --main: #d1d8e0; /* Lighter main text */
    --hover-bg: #2c2f35; /* Dark hover */
    --secondary: #666a73; /* Dark secondary */
    --fill: #333940; /* Fill with a darker shade */
    --divider: #444b52; /* Darker divider */
    --title: #f5f7f9; /* Light text for titles */
    --error: #ff6666; /* Lighter error for contrast */
    --error-bg: #4f161c; /* Dark error background */
    --success: #00c851; /* Light success color */
    --success-bg: #1f3d2d; /* Dark success background */
    --warning: #ffbb33; /* Light warning color */
    --warning-bg: #3e2f1c; /* Dark warning background */
    --bar-1: #6699ff;
    --bar-2: #a0a0ff;

    /* Blue shades - darker base, lighter text */
    --blue-50: #19388f;
    --blue-100: #1b60f5;
    --blue-200: #2f7fff;
    --blue-300: #59a5ff;
    --blue-400: #8ec6ff;
    --blue-500: #bcdbff;
    --blue-600: #d9eaff;
    --blue-700: #eef6ff;
    --blue-800: #eef6ff;
    --blue-900: #eef6ff;
    --blue-950: #eef6ff;
  }
}

@layer base {
  * {
    @apply border-border font-body;
  }
  body {
    @apply font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

aside {
  scrollbar-width: 5px;
  scrollbar-color: var(--blue-400);
}

aside::-webkit-scrollbar {
  width: 5px;
}

main {
  scrollbar-width: 10px;
  scrollbar-color: var(--blue-400);
}

main::-webkit-scrollbar {
  width: 10px;
}

.webhook_wrapper,
.log_wrapper {
  scrollbar-width: 5px;
  scrollbar-color: var(--blue-400);
}

.webhook_wrapper::-webkit-scrollbar, .log_wrapper::-webkit-scrollbar {
  width: 5px;
}

.webhook_wrapper::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
.log_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--blue-300);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.webhook_wrapper::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:hover,
.log_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-500);
  cursor: pointer;
}

.webhook_wrapper::-webkit-scrollbar-track,
main::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
.log_wrapper::-webkit-scrollbar-track {
  background-color: var(--fill);
}

.shadowed {
  background: var(--white);
  -moz-box-shadow: inset 0 -20px 20px -20px var(--divider);
  -webkit-box-shadow: inset 0 -20px 20px -20px var(--divider);
  box-shadow: inset 0 -20px 20px -20px var(--divider);

}